<p><span class="lead">Share&nbsp;</span><span class="share">all over the interwebs</span></p>

<%= link_to @post.share_google_plus( request ), class: "social-link" do %>
  <div class="social-icon">
    <i class="icon icon-google-plus"></i>
  </div>
  <span class="social-name">Google Plus</span>
<% end %>

<%= link_to @post.share_linkedin( request ), class: "social-link" do %>
  <div class="social-icon">
    <i class="icon icon-linkedin-sign"></i>
  </div>
  <span class="social-name">Linkenin</span>
<% end %>

<%= link_to @post.share_twitter( request ), class: "social-link" do %>
  <div class="social-icon">
    <i class="icon icon-twitter"></i>
  </div>
  <span class="social-name">Twitter</span>
<% end %>

<%= link_to @post.share_facebook( request ), class: "social-link" do %>
  <div class="social-icon">
    <i class="icon icon-facebook"></i>
  </div>
  <span class="social-name">Facebook</span>
<% end %>

