<!DOCTYPE html>
<html>
<head>
  <title>Tlab</title>
  <%= stylesheet_link_tag    "tlab/application", media: "all" %>
  <%= javascript_include_tag "tlab/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
